body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: -apple-system; 
}
.wrap{
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 40px 40px;
    font-size: 16;
    background: linear-gradient(0deg, #CCCCCC, #FFFFFF);
    box-shadow: 0 5px 5px #AAAAAA;
    border: #AAAAAA;
    width: calc(100% / 6 - 50px);
    margin-left: 10px;
}
.legend_user{
    border-radius: 10px 10px;
    background-color: #f5a42a;
    color: white;
    
    padding: 4px 4px;
    font-size: 10px;
}
.buttom{
    color: black;
    background-color:linear-gradient(0deg, #CCCCCC, #FFFFFF);
    border-radius: 10px 10px;
    border: none;
    font-family: -apple-system;
    
}