<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    
    <title>Dropdown</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="select is-medium" >
                <select name="language" hx-trigger="change, load" hx-get="/dropdown" hx-target="#framework">
                    <option value="Python">Python</option>
                    <option value="Ruby">Ruby</option>
                    <option value="JavaScript">JavaScript</option>
                </select>
            </div>
            <div class="select is-medium">
                <select id="framework">

                </select>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    
</body>
</html>